body{
	background-color:#292929;

}
 
input{
	background-color:#121212;
	color:#FFFFFFDE;
}
div{
	color : #FFFFFFDE;
}

#video_info{
    display: flex;
}
#gr_info{
	position: relative;
	top: 100px;
	margin: 0;
}

#preview_video h2{
	float: left;
	margin: auto;
	display: flex;
	
}

#video_player{
	margin: 10px;
}



h1{
	font-family : Roboto Mono,Regular;
	font-weight: normal;
	color : #FFFFFFDE;
}
h2{
	font-family : Roboto, Medium;
	font-weight: normal;
	color : #FFFFFFDE;
}
h3{
	font-family : Roboto, Medium;
	color : #FFFFFFDE;
}
h4{
	font-family : Roboto,Regular;
	color : #828282DE;
	margin : 3px;
}
h5{
	font-family : Roboto, Medium;
	color : #FFFFFFDE;
}

<<<<<<< Updated upstream

#vid_st{
    display: flex;
}
#bout{
}
#optvid{
	display: inline-block;
	margin: 3px;
}
#stitr{
	display: inline-block;
	margin: 3px;
}
#ecrit{
}
=======
figure{
	margin: auto;
}

>>>>>>> Stashed changes
#current_time{
}
#timlin{
}
#subtit{
}

.menu{
	color:black;
	font-size:16px;
	background-color:gray;
	width:30%;
	float:left;
	text-align:center;

	border:1px solid black;
	padding:2px;
	margin:5px;
}



.square {

  background-color: #555;
  
  top: 1141px;
  left: 82px;
  width: 927px;
  height: 167px;
  /* UI Properties */
  background: #121212 0% 0% no-repeat padding-box;
  opacity: 1;
}
.bar {

top: 37px;
left: 66px;
width: 904px;
height: 103px;
border-bottom-style: solid;
}

.playbar {
  padding-top: 50px;
  padding-left: 80px;
  top: 15 px;
}



#Informations {
width: 210px;
height: 274px;
/* UI Properties */
border: 1px solid var(--unnamed-color-707070);
background: #121212 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 16px;
opacity: 1;
}


#Video_button {
width: 450px;
height: 116px;
background: #121212 0% 0% no-repeat padding-box;
opacity: 1;
text-align:center;
margin: auto;
}
#btplay {
	background: transparent url('image/Groupe 516.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 48px;
	height: 48px;
	margin: 34px 0;
	background-position: center;
}
#btrewind {
	background: transparent url('image/replay_10_black_24dp.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 48px;
	height: 48px;
	margin: 34px 0;
	background-position: center;
}
#btforward {
	background: transparent url('image/forward_10_black_24dp.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 48px;
	height: 48px;
	margin: 34px 0;
	background-position: center;
}
#btprec {
	background: transparent url('image/skip_previous_black_24dp.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 48px;
	height: 48px;
	margin: 34px 0;
	background-position: center;
}
#btsuiv {
	background: transparent url('image/skip_next_black_24dp.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 48px;
	height: 48px;
	margin: 34px 0;
	background-position: center;
}
#btstop {
	background: transparent url('image/Rectangle 740.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 48px;
	height: 48px;
	margin: 34px 0;
	background-position: center;
}
#btpause {
	background: transparent url('image/Groupe 523.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 48px;
	height: 48px;
	margin: 34px 0;
	background-position: center;
}


#Sous-titres {
width: 469px;
height: 116px;
background: #121212 0% 0% no-repeat padding-box;
opacity: 1;
text-align:center;
margin: auto;
}

#btcharger {
	background: transparent url('image/btcharger.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 123px;
	height: 36px;
	margin: 34px 0;
	background-position: center;
}


#btappliquer {
	background: transparent url('image/btcharger.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 123px;
	height: 36px;
	margin: 34px 0;
	background-position: center;
}



#btsauvegarder {
	background: transparent url('image/btcharger.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 123px;
	height: 36px;
	margin: 34px 0;
	background-position: center;
}




#Ecriture {
width: 927px;
height: 245px;
background: #121212 0% 0% no-repeat padding-box;
opacity: 1;
}

#Timeline {
width: 927px;
height: 167px;
background: #121212 0% 0% no-repeat padding-box;
opacity: 1;
}