body{
	background-color:#292929;
}
 
input{
	background-color:#121212;
	color:white;
}

.menu{
	color:black;
	font-size:16px;
	background-color:gray;
	width:30%;
	float:left;
	text-align:center;

	border:1px solid black;
	padding:2px;
	margin:5px;
}
