body{
	background-color:#292929;

}
 
input{
	background-color:#121212;
	color:#FFFFFFDE;
}
div{
	color : #FFFFFFDE;
}

#video_info{
    display: flex;
}
#gr_info{
	position: relative;
	top: 100px;
	margin: 0;
}

#preview_video h2{
	float: left;
	margin: auto;
	display: flex;
	
}

#video_player{
	margin: 10px;
}



h1{
	font-family : Roboto Mono,Regular;
	font-weight: normal;
	color : #FFFFFFDE;
}
h2{
	font-family : Roboto, Medium;
	font-weight: normal;
	color : #FFFFFFDE;
}
h3{
	font-family : Roboto, Medium;
	color : #FFFFFFDE;
}
h4{
	font-family : Roboto,Regular;
	color : #828282DE;
	margin : 3px;
}
h5{
	font-family : Roboto, Medium;
	color : #FFFFFFDE;
}


#vid_st{
    display: flex;
}
#bout{
}
#optvid{
	display: inline-block;
	margin: 3px;
}
#stitr{
	display: inline-block;
	margin: 3px;
}








#ecrit{
	
}
#Ecriture {
width: 927px;
height: 245px;
background: #121212 0% 0% no-repeat padding-box;
opacity: 1;
}
#table_st{
	font: Roboto;
}
th{
	padding: 20px 20px 10px 20px;
}
#table1{
	width: 71px;
	text-align: left;
}
#table2{
	width: 71px;
	text-align: left;
}
#table3{
	width: 927px;
	text-align: left;
}
td{
	color: #FFFFFF99;
	padding: 10px 20px;
}
#table1bis{
	text-align: left;
}
#table2bis{
	text-align: center;
}
#table3bis{
	text-align: left;
}

#Temps{
	width: 71px;
	margin: 10px 10px 10px 20px;
	background-color : #2F2638;
	border: 1px solid #555555;
}
#Durée{
	width: 76px;
	margin: 10px;
	background-color : #2F2638;
	border: 1px solid #555555;
}
#Texte{
	width: 484px;
	margin: 10px;
	background-color : #2F2638;
	border: 1px solid #555555;
}





#current_time{
}
#timlin{
}
#subtit{
}

.menu{
	color:black;
	font-size:16px;
	background-color:gray;
	width:30%;
	float:left;
	text-align:center;

	border:1px solid black;
	padding:2px;
	margin:5px;
}



.square {

  background-color: #555;
  
  top: 1141px;
  left: 82px;
  width: 927px;
  height: 167px;
  /* UI Properties */
  background: #121212 0% 0% no-repeat padding-box;
  opacity: 1;
}
.bar {

top: 37px;
left: 66px;
width: 904px;
height: 103px;
border-bottom-style: solid;
}

.playbar {
  padding-top: 50px;
  padding-left: 80px;
  top: 15 px;
}



#Informations {
width: 210px;
height: 274px;
/* UI Properties */
border: 1px solid var(--unnamed-color-707070);
background: #121212 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 16px;
opacity: 1;
}


#Video_button {
width: 450px;
height: 116px;
background: #121212 0% 0% no-repeat padding-box;
opacity: 1;
text-align:center;
margin: auto;
cursor:pointer;
}
#btplay {
	background: #201c25 url('image/Groupe 516.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 48px;
	height: 48px;
	margin: 34px 0;
	background-position: center;
	cursor:pointer;
}
#btrewind {
	background: #201c25 url('image/replay_10_black_24dp.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 48px;
	height: 48px;
	margin: 34px 0;
	background-position: center;
	cursor:pointer;
}
#btforward {
	background: #201c25 url('image/forward_10_black_24dp.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 48px;
	height: 48px;
	margin: 34px 0;
	background-position: center;
	cursor:pointer;
}
#btprec {
	background: #201c25 url('image/skip_previous_black_24dp.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 48px;
	height: 48px;
	margin: 34px 0;
	background-position: center;
	cursor:pointer;
}
#btsuiv {
	background: #201c25 url('image/skip_next_black_24dp.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 48px;
	height: 48px;
	margin: 34px 0;
	background-position: center;
	cursor:pointer;
}
#btstop {
	background: #201c25 url('image/Rectangle 740.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 48px;
	height: 48px;
	margin: 34px 0;
	background-position: center;
	cursor:pointer;
}
#btpause {
	background: #201c25 url('image/Groupe 523.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 48px;
	height: 48px;
	margin: 34px 0;
	background-position: center;
	cursor:pointer;
}


#Sous-titres {
width: 469px;
height: 116px;
background: #121212 0% 0% no-repeat padding-box;
opacity: 1;
text-align:center;
margin: auto;
}

#btcharger {
	background: #BB86FC 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
	width: 123px;
	height: 36px;
	margin: 34px 0;
	font-family: Roboto;
	color: #000000;
	font-size: 14px;
	background-image: url('image/icon-content-add_24px.svg');
	background-position: 5% 50%;
	text-indent: 15px;
	line-height: 18px;
	cursor:pointer;
}


#btappliquer {
	background: #BB86FC 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
	width: 133px;
	height: 36px;
	margin: 34px 0;
	font-family: Roboto;
	color: #000000;
	font-size: 14px;
	background-image: url('image/add_24px.svg');
	background-position: 5% 50%;
	text-indent: 15px;
	line-height: 18px;
	cursor:pointer;
}


#btsauvegarder {
	background: #BB86FC 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
	width: 161px;
	height: 36px;
	margin: 34px 0;
	font-family: Roboto;
	color: #000000;
	background-image: url("image/save_black_24dp.svg");
	background-position: 5% 50%;
	text-indent: 15px;
	line-height: 18px;
	cursor:pointer;
}

#btplus {
	background: #201c25 url('image/btplus.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 60px;
	height: 60px;
	margin: 10px 0;
	
	background-position: center;
}

#marqueur_deposition {
	background: #201c25 url('image/mqposition.svg') 0% 0% no-repeat padding-box;

	width: 34px;
	height: 34px;
	
	background-position: center;
}




#Timeline {
width: 927px;
height: 167px;
background: #121212 0% 0% no-repeat padding-box;
opacity: 1;
}


#Timelinebar {
width: 886px;
height: 15px;
background: #2F2638 0% 0% no-repeat padding-box;
opacity: 1;
border:1px solid #000000;
background-position: center;
text-align:center;
margin-left: auto;
margin-right: auto;

}


#Timelinelastbar{
	
	/* Layout Properties */
top: 1262px;
left: 337px;
width: 500px;
height: 29px;
/* UI Properties */
background: #2F2638 0% 0% no-repeat padding-box;
border: 1px solid #333232;
border-radius: 11px;
opacity: 1;
text-align:center;
margin-left: auto;
margin-right: auto;
}
